body {
    // background-color: $very-dark-blue;
}

.container {
    border: 1px solid red;
    width: 88%;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
}
